:root {
  --color-gris: #495057;
  --color-azul-oscuro: #2c3e50;
  --color-blanco: #ffffff;
  --color-azul-claro: #3498db;
}

body {
  background-color: #2c3e50;
  color: var(--color-gris);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

// #root {
//   flex: 1; /* Hace que el contenedor principal (root) crezca para llenar el espacio restante */
// }

// footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }
