// contact.scss
/* Variables de colores */
$color-gris: #495057;
$color-azul-oscuro: #2c3e50;
$color-blanco: #ffffff;
$color-azul-claro: #3498db;
.contact {
  padding: 20px;

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
      margin-left: 20px;
      width: 70%;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .avatar-container {
      width: 30%; // El avatar ocupa el 50% del ancho de la pantalla
    }
  }

  h1,
  p {
    margin-left: 2%;
  }

  .custom-form {
    border-radius: 10px;
    padding: 20px;

    .form-group {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .custom-button {
    background-color: #3498db;
    color: #495057;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 20px;
  }

  .custom-button:hover {
    color: #ffffff;
    transition: color 0.5s ease;
  }
}

.rs-form-control,
.rs-form-control-warpper,
.rs-input {
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin: 3px 0px;
}

.rs-form-control:focus,
.rs-form-control-warpper:focus {
  border-color: #3498db;
}
