/* header.scss */

/* Variables de colores */
$color-gris: #495057;
$color-azul-oscuro: #2c3e50;
$color-blanco: #ffffff;
$color-azul-claro: #3498db;

/* Estilos para el encabezado */
header {
  background-color: $color-blanco;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 30px;
  margin: 0;
}

.header-text {
  font-size: larger;
  margin-left: 20px; /* Ajusta el espacio entre el texto y el lado izquierdo */

  a {
    text-decoration: none;
    color: $color-gris;
    font-weight: bold;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;

    &:hover,
    &.selected {
      color: $color-azul-claro;
      text-shadow: 0 0 5px $color-azul-claro; /* Añade un sutil brillo al pasar el ratón */
    }
  }
}

/* Estilos para el enlace acentuado (Azul claro) */

.horizontal-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  margin-right: 40px; /* Ajusta el espacio entre elementos según sea necesario */
}

nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li {
    transition: color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
    display: flex;
    flex-direction: column; /* Hace que el texto y el subrayado estén en columnas */

    &:hover,
    &.selected {
      color: $color-azul-claro;
      border-bottom: 2px solid $color-azul-claro;
      margin-bottom: -2px; /* Ajusta la posición del subrayado hacia abajo */
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: $color-gris;
      transition: color 0.5s ease-in-out;

      &:hover,
      &.accent {
        color: $color-azul-claro;
      }
    }
  }
}
